[submodule "home/.vim/bundle/Vundle.vim"] 
  path = home/.vim/bundle/Vundle.vim
  url = git@github.com:VundleVim/Vundle.vim.git
[submodule "home/.vim/bundle/dracula"]
  path = home/.vim/bundle/dracula
  url = git@github.com:dracula/vim.git
[submodule "home/.vim/bundle/nerdtree"]
  path = home/.vim/bundle/nerdtree
  url = git@github.com:preservim/nerdtree.git
[submodule "home/.vim/bundle/nord-vim"]
  path = home/.vim/bundle/nord-vim
  url = git@github.com:arcticicestudio/nord-vim.git
[submodule "home/.vim/bundle/vim-go"]
  path = home/.vim/bundle/vim-go
  url = git@github.com:fatih/vim-go.git
