# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Luke Reed
	email = luke@lreed.net
	signingkey = 96AC6BBD6D32F691
[core]
	excludesfile = /Users/luke/.gitignore_global
[gpg]
	program = gpg
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
